<div class="row">
    <div class="col-8">
        <div class="card" style="height: 500px;">
            <div class="card-header">
                <h3>Carrito</h3>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <th>Id</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cartProduct of cartProducts; let index = index">
                            <td>{{cartProduct.productId}}</td>
                            <td>{{cartProduct.name}}</td>
                            <td>{{cartProduct.quantity}}</td>
                            <td>{{cartProduct.price}}</td>
                            <td>{{cartProduct.total}}</td>
                            <td><button type="button" class="btn btn-danger" (click)="deleteProduct(index)" title="Eliminar producto"><i class="fas fa-trash" title="Eliminar producto"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4"><b>Total:  {{total | currency:'HNL'}}</b></div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h3>Productos</h3>
                <input class="form-control" type="text" [(ngModel)]="productFilter" (keyup)="refreshProducts()" placeholder="Escribe aqui para buscar">
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <th>Producto</th>
                        <th>Precio</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products" (click)="selectProduct(product)" class="clickable-row">
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshProducts()">
                    </ngb-pagination>
                  
                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshProducts()">
                      <option [ngValue]="5">5 items per page</option>
                      <option [ngValue]="10">10 items per page</option>
                    </select>
                  </div>
            </div>
          </div>
    </div>
</div>
