<!-- Brand Logo -->
<a [routerLink]="['/']" class="brand-link">
    <!-- <img
        src="assets/img/logo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
    /> -->
    <span class="brand-text font-weight-light">Asados DCV</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img
                [src]="user.picture || 'assets/img/default-profile.png'"
                class="img-circle elevation-2"
                alt="User Image"
            />
        </div>
        <div class="info">
            <a class="d-block">
                {{ user.unique_name }}
            </a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2" style="overflow-y: hidden">
        <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
        >
            <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
             <li class="nav-item">
                <a [routerLink]="['/order']" class="nav-link">
                    <i class="nav-icon fas fa-shopping-cart"></i>
                    <p>Ordenar</p>
                </a>
            </li>
             <li class="nav-item">
                <a [routerLink]="['/']" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/products']" class="nav-link">
                    <i class="nav-icon fas fa-cloud-meatball"></i>
                    <p>Productos</p>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/employees']" class="nav-link">
                    <i class="nav-icon fas fa-user-friends"></i>
                    <p>Empleados</p>
                </a>
            </li>
        </ul>
    </nav>
</div>
