<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Productos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><a routerLink="/products">Mantenimiento de Productos</a></li>
                    <li *ngIf="!productId" class="breadcrumb-item active">Agregar producto</li>
                    <li *ngIf="productId" class="breadcrumb-item active">Editar producto</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content m-5">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div>
                   <h3>Agregar Producto</h3>
                </div>
            </div>
            <div class="card-body">
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombre:</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" formControlName="name" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Descripción:</label>
                    <div class="col-sm-10">
                        <input type="text" name="description" formControlName="description" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Precio:</label>
                    <div class="col-sm-10">
                        <input type="number" name="price" formControlName="price" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Imagen:</label>
                    <div class="col-sm-10">
                        <input type="file" name="image" (change)="getBase64($event)" class="form-control">
                        <div class="mt-2 rounded" *ngIf="productForm.value.image.length > 0">
                            <img [src]="productForm.value.image" width="200" height="200">
                        </div>
                    </div>
                </div>

                <div *ngIf="!productForm.valid">
                    <p>Completar todos los campos.</p>
                </div>
                <div *ngIf="this.productId">
                    <button class="btn btn-primary" type="submit" [disabled]="!productForm.valid">Editar</button>
                </div>
                <div *ngIf="!this.productId">
                    <button  class="btn btn-primary" type="submit" [disabled]="!productForm.valid">Crear</button>
                </div>
                
            </form>
             

            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
