<form class="mt-5 p-2" [formGroup]="orderInfoForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nombre del cliente:</label>
        <div class="col-sm-10">
            <input type="text" name="customerName" formControlName="customerName" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Mesero:</label>
        <div class="col-sm-10">
            <select class="form-control" formControlName="waiterId" id="waiter">
                <option *ngFor="let waiter of waiters" [value]="waiter.id">{{waiter.employee.names}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Para llevar?</label>
        <div class="col-sm-1 ">
            <input type="checkbox" name="isForDelivery" (change)="changeIsForDelivery()" formControlName="isForDelivery"
                class="form-control">
        </div>
    </div>
    <div *ngIf="!orderInfoForm.value.isForDelivery">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Mesa:</label>
            <div class="col-sm-10">
                <input type="number" name="tableId" formControlName="tableId" class="form-control">
            </div>
        </div>
    </div>

    <div *ngIf="!orderInfoForm.valid">
        <p>Completar todos los campos.</p>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!orderInfoForm.valid">Siguiente</button>

</form>