<div class="card">
    <div class="card-header">
        <h4 class="text-left">Confirmar Orden</h4>
    </div>
    <div class="card-body text-left">
        <div class="row">
            <div class="col-2"><label>Nombre del Cliente:</label></div>
            <div class="col">{{orderInfo.customerName}}</div>
        </div>
        <div class="row">
            <div class="col-2"><label>Mesero:</label></div>
            <div class="col">{{orderInfo.waiterId}}</div>
        </div>
        <div class="row">
            <div class="col-2"><label>Para llevar:</label></div>
            <div class="col">{{isForDelivery()}}</div>
        </div>
        <div class="row">
            <div class="col-2"><label>Mesa:</label></div>
            <div class="col">{{orderInfo.tableId}}</div>
        </div>

    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3>Carrito</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead class="thead-dark">
                <th>Id</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr *ngFor="let cartProduct of cartProducts; let index = index">
                    <td>{{cartProduct.productId}}</td>
                    <td>{{cartProduct.name}}</td>
                    <td>{{cartProduct.quantity}}</td>
                    <td>{{cartProduct.price}}</td>
                    <td>{{cartProduct.total}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2"><b>Total:  {{getTotal() | currency:'HNL'}}</b></div>
        </div>
    </div>
</div>
<button class=" text-left btn btn-success" (click)="createOrder()">Guardar Orden</button>