<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Productos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Mantenimiento de Productos</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content m-5">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div>
                    <button routerLink="/addProduct" class="btn btn-success" title="Agregar producto">Nuevo producto</button>
                </div>
            </div>
            <div class="card-body">
                
                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of products">
                      <td>
                        {{ product.name }}
                      </td>
                      <td>{{ product.description}}</td>
                      <td>{{ product.price | currency:'HNL' }}</td>
                      <td>
                          <button type="button" class="btn btn-danger" (click)="deleteProduct(product.id)" title="Eliminar producto"><i class="fas fa-trash" title="Eliminar producto"></i></button>
                          <button type="button" class="btn btn-info" [routerLink]="'/addProduct/'+ product.id" title="Editar producto"><i class="fas fa-edit" title="Editar producto"></i></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshProducts()">
                    </ngb-pagination>
                  
                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshProducts()">
                      <option [ngValue]="2">2 items per page</option>
                      <option [ngValue]="4">4 items per page</option>
                      <option [ngValue]="6">6 items per page</option>
                    </select>
                  </div>

            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
