<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Empleados</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Mantenimiento de Empleados</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content m-5">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div>
                    <button routerLink="/createEmployee" class="btn btn-success m-1" title="Agregar producto">Nuevo empleado</button>
                    <button routerLink="/cashiers" class="btn btn-primary m-1" title="Cajeros">Cajeros</button>
                    <button routerLink="/waiters" class="btn btn-primary m-1" title="Meseros">Meseros</button>
                </div>
            </div>
            <div class="card-body">
                
                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Nombres</th>
                      <th scope="col">Apellidos</th>
                      <th scope="col">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let employee of employees">
                      <td>
                        {{ employee.idNumber }}
                      </td>
                      <td>{{ employee.names}}</td>
                      <td>{{ employee.lastNames}}</td>
                      <td>
                          <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee.id)" title="Eliminar empleado"><i class="fas fa-trash" title="Eliminar empleado"></i></button>
                          <button type="button" class="btn btn-info" [routerLink]="'/createEmployee/'+ employee.id" title="Editar empleado"><i class="fas fa-edit" title="Editar empleado"></i></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshEmployees()">
                    </ngb-pagination>
                  
                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshEmployees()">
                      <option [ngValue]="2">2 items per page</option>
                      <option [ngValue]="4">4 items per page</option>
                      <option [ngValue]="6">6 items per page</option>
                    </select>
                  </div>

            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
