<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Meseros</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item" routerLink="/employees">Mantenimiento de Empleados</li>
                    <li class="breadcrumb-item active">Meseros</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content m-5">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col col-6 ">
                        <h3>Empleados</h3>
                        <button class="btn btn-success m-1" (click)="asignWaiters()">Asignar seleccionados</button>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                              <th></th>
                              <th scope="col">Id</th>
                              <th scope="col">Nombres</th>
                              <th scope="col">Apellidos</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let employee of employees">
                              <td> <input type="checkbox" name={{employee.id}} [(ngModel)]="employee.selected"> </td>
                              <td>{{ employee.idNumber }}</td>
                              <td>{{ employee.names}}</td>
                              <td>{{ employee.lastNames}}</td>
                            </tr>
                            </tbody>
                          </table>
                    </div>

                    <div class="col col-6">
                        <h3>Meseros</h3>
                        <button class="btn btn-danger m-1" (click)="unasignWaiters()">Desasignar seleccionados</button>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                              <th scope="col">Id</th>
                              <th scope="col">Nombres</th>
                              <th scope="col">Apellidos</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let waiter of waiters">
                              <td> <input type="checkbox" name={{waiter.id}} [(ngModel)]="waiter.selected"> </td>
                              <td>{{ waiter.idNumber }}</td>
                              <td>{{ waiter.names}}</td>
                              <td>{{ waiter.lastNames}}</td>
                            </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
