<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cajeros</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item" routerLink="/employees">Mantenimiento de Empleados</li>
                    <li class="breadcrumb-item active">Cajeros</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content m-5">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col col-6 ">
                        <h3>Empleados</h3>
                        <button class="btn btn-success m-1" (click)="asignCashiers()">Asignar seleccionados</button>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                              <th></th>
                              <th scope="col">Id</th>
                              <th scope="col">Nombres</th>
                              <th scope="col">Apellidos</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let employee of employees">
                              <td> <input type="checkbox" name={{employee.id}} [(ngModel)]="employee.selected"> </td>
                              <td>{{ employee.idNumber }}</td>
                              <td>{{ employee.names}}</td>
                              <td>{{ employee.lastNames}}</td>
                            </tr>
                            </tbody>
                          </table>
                    </div>

                    <div class="col col-6">
                        <h3>Cajeros</h3>
                        <button class="btn btn-danger m-1" (click)="unasignCashiers()">Desasignar seleccionados</button>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                              <th scope="col">Id</th>
                              <th scope="col">Nombres</th>
                              <th scope="col">Apellidos</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let cashier of cashiers">
                              <td> <input type="checkbox" name={{cashier.id}} [(ngModel)]="cashier.selected"> </td>
                              <td>{{ cashier.idNumber }}</td>
                              <td>{{ cashier.names}}</td>
                              <td>{{ cashier.lastNames}}</td>
                            </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
