<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Empleados</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><a routerLink="/employees">Mantenimiento de empleados</a></li>
                    <li *ngIf="!employeeId" class="breadcrumb-item active">Agregar empleado</li>
                    <li *ngIf="employeeId" class="breadcrumb-item active">Editar empleado</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content m-5">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div>
                   <h3>Agregar Empleado</h3>
                </div>
            </div>
            <div class="card-body">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombres:</label>
                    <div class="col-sm-10">
                        <input type="text" name="names" formControlName="names" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Apellidos:</label>
                    <div class="col-sm-10">
                        <input type="text" name="lastNames" formControlName="lastNames" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Identidicación:</label>
                    <div class="col-sm-10">
                        <input type="number" name="idNumber" formControlName="idNumber" class="form-control">
                    </div>
                </div>

                <div *ngIf="!employeeForm.valid">
                    <p>Completar todos los campos.</p>
                </div>
                <div *ngIf="this.employeeId">
                    <button class="btn btn-primary" type="submit" [disabled]="!employeeForm.valid">Editar</button>
                </div>
                <div *ngIf="!this.employeeId">
                    <button  class="btn btn-primary" type="submit" [disabled]="!employeeForm.valid">Crear</button>
                </div>
                
            </form>
             

            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
