<div class="card m-5">
  <div class="card-body">
    <div id="stepper1" class="bs-stepper">
      <div class="bs-stepper-header">
        <div class="step" data-target="#test-l-1">
          <button class="step-trigger">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Información general</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-2">
          <button class="step-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Carrito</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-3">
          <button class="step-trigger">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">Confirmación</span>
          </button>
        </div>
      </div>
      <div class="bs-stepper-content">
        <div id="test-l-1" class="content">
          <order-info-step (orderInfoEmitter)="nextOrdeInfo($event)"></order-info-step>
        </div>
        <div id="test-l-2" class="content">
          <div class="form-group">
            <app-cart-step (productEmitter)="getCartProduct($event)"></app-cart-step>
          </div>
          <button (click)="next()" class="btn btn-primary">Siguiente</button>
        </div>
        <div id="test-l-3" class="content">
          <app-save-order [cartProducts]="cartProducts" [orderInfo]="orderInfo"></app-save-order>
        </div>
      </div>
    </div>
  </div>
</div>