<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
           
            <div class="col-lg-3 col-6" *ngFor="let order of orders">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{order.id}}</h3>

                        <p>Cliente: {{order.customerName}}</p>
                        <p>Para llevar: {{isForDelivery(order.isForDelivery)}}</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a [routerLink]="'orderDetails/'+order.id" class="small-box-footer"
                        >ver mas <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>

            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- Main row -->
</section>
<!-- /.content -->
