<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Detalle de orden</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Detalle de orden</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content m-5">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div>
                   <h3>Información General</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3"><label>Nombre del Cliente:</label></div>
                    <div class="col">{{order.customerName}}</div>
                </div>
                <div class="row">
                    <div class="col-3"><label>Mesero:</label></div>
                    <div class="col">{{order.waiterId}}</div>
                </div>
                <div class="row">
                    <div class="col-3"><label>Para llevar:</label></div>
                    <div class="col">{{isForDelivery()}}</div>
                </div>
                <div class="row">
                    <div class="col-3"><label>Mesa:</label></div>
                    <div class="col">{{order.tableId}}</div>
                </div>
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>

        <div class="card">
            <div class="card-header">
                <h3>Carrito</h3>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <th>Id</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cartProduct of order.orderDetails.$values; let index = index">
                            <td>{{cartProduct.productId}}</td>
                            <td>{{cartProduct.product.name}}</td>
                            <td>{{cartProduct.quantity}}</td>
                            <td>{{cartProduct.product.price}}</td>
                            <td>{{cartProduct.product.price * cartProduct.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-2"><b>Total:  {{getTotal() | currency:'HNL'}}</b></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card -->
    
</section>
<!-- /.content -->
